.search-form {
    flex-basis: 50%;
    // background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;


    &__input {
        width: 85%;
        padding: .8rem 1.5rem;
        background-color: #ecf0f1;
        border: none;

        margin-right: -3.2rem;
        border: none;


        transition: all .3s ease-out;
    }

    &__btn {
        align-self: stretch;
        width: 3.2rem;
        height: 3.2rem;
        // border-radius: 50%;
        background-color: orangered;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        border: none;
        outline: none;

    }

    &__input:focus {
        outline: none;
        width: 100%;
    }



}