.header {

    width: 100%;
    height: 7rem;
    position: fixed;
    // top: 0;
    z-index: 5;


    background-color: #1e272e;
    color: #fff;
    padding: 1.5rem 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;



    &__controls-container {
        flex-basis: 50%;

        display: flex;
        align-items: center;
        justify-content: flex-end;



        &>a,
        form:not(last-child) {
            margin-right: 2rem;
        }

    }

    &__signup-signin {}

    &__dark-mode {}
}

.menu {
    width: 3rem;
    height: 3rem;
    fill: #fff;
}

.menu-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 15rem;
    cursor: pointer;
}

.logo {
    font-size: 2.5rem;
    font-weight: 400;
    cursor: pointer;
}