.App {


  // display: grid;
  // grid-template-columns: repeat(2, fr);
  // grid-template-rows: 7rem 1fr;

}

.nav-pusher {
  padding-top: 7rem;
}

.main-content {
  min-height: 100vh;
  background-color: #dfe6e9;
  position: relative;
  // margin-top: 2rem;
}